.root{
    -fx-background-image: url("back3.jpg");

    -fx-background-size: cover,auto;
}

#contentPane{
    -fx-background-image: url("back3.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover,auto;
}

#outMsg{
    -fx-background-color: #c205f5;
    -fx-text-fill: #fff;
}
#inMsg{
    -fx-background-color: #2a9605;
    -fx-text-fill: #fff;
}

.TextField{
    -fx-border-color: red;
}